In [1]:
import pandas as pd

In [3]:
df_wash = pd.read_csv("/home/asevlad/program_files/github_asevlad/Hyperliquid_Wash_Trading_detection/server_analysis/AVAX_advanced/wash_trades_summary_multiple_windows.csv")

In [8]:
df_wash["total_amount_wash"].sum()

np.float64(6689.050010889765)

In [9]:
from src.data_handler import CoinDataStore

store = CoinDataStore("AVAX")
df_all = store.load_all()
df_all

             price        size                          time  seller   buyer
0        19.521999  213.199997 2025-03-22 10:50:22.930512310       8     658
1        19.521999    1.000000 2025-03-22 10:50:23.731759790      19     658
2        19.525999   11.820000 2025-03-22 10:50:43.490273671     161    1260
3        19.525999   39.150002 2025-03-22 10:50:43.490273671     161   19500
4        19.525000    8.800000 2025-03-22 10:50:43.490273671     161     240
...            ...         ...                           ...     ...     ...
1478242  24.966999    1.210000 2025-07-27 08:44:33.762000000       8    1527
1478243  24.971001  308.359985 2025-07-27 08:44:59.437000000     161    5135
1478244  24.971001  203.639999 2025-07-27 08:44:59.437000000     892    5135
1478245  24.971001   11.940000 2025-07-27 08:45:07.130000000      19  170117
1478246  24.975000    0.670000 2025-07-27 08:45:47.161000000    5165      19

[1478247 rows x 5 columns]

In [12]:
df_wash["total_amount_wash"].sum() / df_all["size"].sum()

np.float64(8.174610140236307e-05)

In [13]:
df_wash

,scc_hash,token,window_size,time,num_wash_trades,num_trades,total_amount_wash,total_amount,total_amount_dollar_wash,total_amount_dollar
0,553143411,AVAX,3600,"[1742637600,1742641200)",0,10,0.0,291.390000,0.0,291.390000
1,553143411,AVAX,3600,"[1742641200,1742644800)",0,29,0.0,89.130000,0.0,89.130000
2,553143411,AVAX,3600,"[1742644800,1742648400)",0,40,0.0,490.419994,0.0,490.419994
3,553143411,AVAX,3600,"[1742648400,1742652000)",0,40,0.0,45.020000,0.0,45.020000
4,553143411,AVAX,3600,"[1742652000,1742655600)",0,27,0.0,127.229996,0.0,127.229996
...,...,...,...,...,...,...,...,...,...,...
25379,-41558244,AVAX,604800,"[1751068800,1751673600)",0,603,0.0,12900.469992,0.0,12900.469992
25380,-41558244,AVAX,604800,"[1751673600,1752278400)",0,741,0.0,15098.410003,0.0,15098.410003
25381,-41558244,AVAX,604800,"[1752278400,1752883200)",0,1088,0.0,20720.710049,0.0,20720.710049
25382,-41558244,AVAX,604800,"[1752883200,1753488000)",0,1222,0.0,26205.390068,0.0,26205.390068
25383,-41558244,AVAX,604800,"[1753488000,1753605947]",0,165,0.0,1708.179998,0.0,1708.179998