In [1]:
import pandas as pd
import datetime

In [2]:
df = pd.read_csv("/home/asevlad/program_files/github_asevlad/Hyperliquid_Wash_Trading_detection/MtGox/Mt.Gox Leaked Transaction/complete_edge_v2.csv")

/tmp/ipykernel_12698/2958930068.py:1: DtypeWarning: Columns (0,1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("/home/asevlad/program_files/github_asevlad/Hyperliquid_Wash_Trading_detection/MtGox/Mt.Gox Leaked Transaction/complete_edge_v2.csv")

In [8]:
df["datetime"] = pd.to_datetime(df["Date"])
df["date"] = df["datetime"].dt.date
df["hour"] = df["datetime"].dt.hour

In [30]:
df_1 = df[df["label"] == 1]
df_2 = df[df["label"] == 2]

In [31]:
df_1[(df_1["date"] == datetime.date(2013, 4, 3)) & ((df_1["Source"] == "THK") | (df_1["Target"] == "THK"))]

,Source,Target,Trade_Id,Bitcoins,Money,Money_Rate,Date,label,date,datetime,hour
3352506,THK,301039,1364964994156212,1.500000,1.728445e+04,11522.964000,2013-04-03 04:56:34,1,2013-04-03,2013-04-03 04:56:34,4
3352735,THK,154279,1364979396504547,12.024696,1.588020e+05,13206.323035,2013-04-03 08:56:36,1,2013-04-03,2013-04-03 08:56:36,8
3352738,THK,154279,1364979477385159,55.526887,7.333060e+05,13206.323000,2013-04-03 08:57:57,1,2013-04-03,2013-04-03 08:57:57,8
3352739,THK,154279,1364979662969262,98.999800,1.277592e+06,12905.000000,2013-04-03 09:01:02,1,2013-04-03,2013-04-03 09:01:02,9
3352757,THK,154279,1364981574046019,6.266156,7.647843e+04,12204.999933,2013-04-03 09:32:54,1,2013-04-03,2013-04-03 09:32:54,9
...,...,...,...,...,...,...,...,...,...,...,...
4354238,THK,355864,1365029895794330,0.223384,2.655232e+03,11886.405084,2013-04-03 22:58:17,1,2013-04-03,2013-04-03 22:58:17,22
4354347,THK,87507,1365030562082322,0.100000,4.095045e+01,409.504500,2013-04-03 23:09:22,1,2013-04-03,2013-04-03 23:09:22,23
4354351,THK,87507,1365030570736163,0.900000,3.685541e+02,409.504522,2013-04-03 23:09:30,1,2013-04-03,2013-04-03 23:09:30,23
4354370,THK,334105,1365030596249457,0.017880,7.321940e+00,409.504474,2013-04-03 23:09:56,1,2013-04-03,2013-04-03 23:09:56,23
4354975,THK,190213,1365031517910460,0.710000,8.717717e+03,12278.474648,2013-04-03 23:25:18,1,2013-04-03,2013-04-03 23:25:18,23

In [32]:
df_2[(df_2["date"] == datetime.date(2013, 4, 3)) & ((df_2["Source"] == "THK") | (df_1["Target"] == "THK"))]

/tmp/ipykernel_12698/3824680387.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_2[(df_2["date"] == datetime.date(2013, 4, 3)) & ((df_2["Source"] == "THK") | (df_1["Target"] == "THK"))]

,Source,Target,Trade_Id,Bitcoins,Money,Money_Rate,Date,label,date,datetime,hour
4330568,THK,698630,1364955679045756,77.660500,3573.48100,46.014139,2013-04-03 02:21:19,2,2013-04-03,2013-04-03 02:21:19,2
4334798,THK,698630,1364968795416666,18.521429,177.59175,9.588447,2013-04-03 05:59:55,2,2013-04-03,2013-04-03 05:59:55,5
4334843,THK,698630,1364968801186814,9.922700,177.59175,17.897523,2013-04-03 06:00:01,2,2013-04-03,2013-04-03 06:00:01,6
4334844,THK,698630,1364968801246645,8.792909,177.59175,20.197156,2013-04-03 06:00:01,2,2013-04-03,2013-04-03 06:00:01,6
4334895,THK,698630,1364968815655355,11.498613,177.59175,15.444624,2013-04-03 06:00:15,2,2013-04-03,2013-04-03 06:00:15,6
4334918,THK,698630,1364968902501713,50.682838,1.26614,0.024982,2013-04-03 06:01:42,2,2013-04-03,2013-04-03 06:01:42,6
4334931,THK,698630,1364968905024454,17.338263,1.26614,0.073026,2013-04-03 06:01:45,2,2013-04-03,2013-04-03 06:01:45,6
4334941,THK,698630,1364968905761648,1.343276,1.26614,0.942577,2013-04-03 06:01:45,2,2013-04-03,2013-04-03 06:01:45,6
4334942,THK,698630,1364968905805824,0.110340,1.26614,11.474896,2013-04-03 06:01:45,2,2013-04-03,2013-04-03 06:01:45,6
4334943,THK,698630,1364968905861080,1.712292,1.26614,0.739441,2013-04-03 06:01:45,2,2013-04-03,2013-04-03 06:01:45,6
4334944,THK,698630,1364968905919431,0.130000,1.26614,9.739538,2013-04-03 06:01:45,2,2013-04-03,2013-04-03 06:01:45,6
4334946,THK,698630,1364968906088162,9.961300,1.26614,0.127106,2013-04-03 06:01:46,2,2013-04-03,2013-04-03 06:01:46,6
4334965,THK,698630,1364968909755463,5.000000,1.26614,0.253228,2013-04-03 06:01:49,2,2013-04-03,2013-04-03 06:01:49,6
4334973,THK,698630,1364968913464953,0.200000,1.26614,6.330700,2013-04-03 06:01:54,2,2013-04-03,2013-04-03 06:01:54,6
4334974,THK,698630,1364968914145694,3.462900,1.26614,0.365630,2013-04-03 06:01:54,2,2013-04-03,2013-04-03 06:01:54,6
4334984,THK,698630,1364968915601584,0.200000,1.26614,6.330700,2013-04-03 06:01:55,2,2013-04-03,2013-04-03 06:01:55,6
4334988,THK,698630,1364968916038430,17.587979,1.26614,0.071989,2013-04-03 06:01:56,2,2013-04-03,2013-04-03 06:01:56,6
4334993,THK,698630,1364968917688287,1.000000,1.26614,1.266140,2013-04-03 06:01:57,2,2013-04-03,2013-04-03 06:01:57,6
4336040,THK,698630,1364971983252023,25.579930,103.24366,4.036120,2013-04-03 06:53:03,2,2013-04-03,2013-04-03 06:53:03,6
4336100,THK,698630,1364972001778770,9.940800,103.24366,10.385850,2013-04-03 06:53:21,2,2013-04-03,2013-04-03 06:53:21,6
4336111,THK,698630,1364972002974103,11.000000,103.24366,9.385787,2013-04-03 06:53:22,2,2013-04-03,2013-04-03 06:53:22,6
4336113,THK,698630,1364972003086872,4.500400,103.24366,22.940996,2013-04-03 06:53:23,2,2013-04-03,2013-04-03 06:53:23,6

# Raw Data

In [4]:
df = pd.read_csv("/home/asevlad/program_files/github_asevlad/Hyperliquid_Wash_Trading_detection/MtGox2014Leak/trades/2013-04_coinlab.csv")
df

,Trade_Id,Date,User_Id,User,User_Id_Hash,Japan,Type,Currency,Bitcoins,Money,Money_Rate,Money_JPY,Money_Fee,Money_Fee_Rate,Money_Fee_JPY,Bitcoin_Fee,Bitcoin_Fee_JPY,User_Country,User_State
0,1364774440303175,2013-04-01 00:00:40,225885,6da3d680-1661-4c12-b663-baf5a4b6d248,a9fc7859580cfca1a2f288aaaeca7ef8,NJP,buy,USD,3.088500,288.00263,94.393,27185.379,0.00000,94.393,0.000,0.007412,65.445,US,NJ
1,1364774445883751,2013-04-01 00:00:45,231,0837e260-175b-40a6-9094-00e32899eabf,82efd6b5be9c594f9be6ede6752362b6,NJP,sell,USD,0.010000,0.93030,94.393,87.814,0.00000,94.393,0.000,0.000000,0.000,US,NJ
2,1364774763879705,2013-04-01 00:06:03,294688,db3379c3-60fc-48de-a34b-f6ebc809b220,a4da4be186b7038446bd880068a9a4b8,NJP,buy,USD,0.107492,10.00000,94.393,943.928,0.00000,94.393,0.000,0.000228,2.012,CA,ON
3,1364774763879705,2013-04-01 00:06:03,306831,9aa4b431-eab6-4c24-9b5a-f3dd35ec2ce5,223cceeabbe39c50d00e7eda1c164831,NJP,sell,USD,0.107492,10.00000,94.393,943.928,0.02200,94.393,2.077,0.000000,0.000,US,MI
4,1364774763956417,2013-04-01 00:06:03,306831,9aa4b431-eab6-4c24-9b5a-f3dd35ec2ce5,223cceeabbe39c50d00e7eda1c164831,NJP,sell,USD,0.066317,6.16951,94.393,582.357,0.01357,94.393,1.281,0.000000,0.000,US,MI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
451425,1367366327674769,2013-04-30 23:58:47,111672,34fcda44-5832-48c3-8beb-60f1bd9fef37,7a04101ed83cd0db8bc2a5cc2d4a26d3,NJP,buy,USD,0.968784,134.67998,97.819,13174.255,0.00000,97.819,0.000,0.001550,21.565,!!,!!
451426,1367366331450050,2013-04-30 23:58:51,231,0837e260-175b-40a6-9094-00e32899eabf,82efd6b5be9c594f9be6ede6752362b6,NJP,buy,USD,0.010000,1.39000,97.819,135.968,0.00000,97.819,0.000,0.000000,0.000,US,NJ
451427,1367366331602938,2013-04-30 23:58:51,253944,20a955e4-470e-440b-954d-ffdc8fb41aed,fe2cf8d70c58949df3ce2591376c61e9,NJP,buy,USD,0.055194,7.67858,97.819,751.111,0.00000,97.819,0.000,0.000132,1.843,!!,!!
451428,1367366379186135,2013-04-30 23:59:39,33871,60a94419-0795-4f4a-bedd-29cc94f11c17,2970b8b0b21283ea4bd7cb6f90c627c7,NJP,buy,USD,1.193418,166.02823,97.819,16240.709,0.00000,97.819,0.000,0.002530,35.198,US,AK
451429,1367366379258727,2013-04-30 23:59:39,33871,60a94419-0795-4f4a-bedd-29cc94f11c17,2970b8b0b21283ea4bd7cb6f90c627c7,NJP,buy,USD,9.006582,1253.95853,97.819,122660.917,0.00000,97.819,0.000,0.019094,265.638,US,AK

In [40]:
df_c = df[df["User_State"].isna()]

In [42]:
df_c["datetime"] = pd.to_datetime(df_c["Date"])
df_c["date"] = df_c["datetime"].dt.date
df_c["hour"] = df_c["datetime"].dt.hour

/tmp/ipykernel_12698/4062620773.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_c["datetime"] = pd.to_datetime(df_c["Date"])
/tmp/ipykernel_12698/4062620773.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_c["date"] = df_c["datetime"].dt.date
/tmp/ipykernel_12698/4062620773.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_c["hour"] = df_c["datetime"].dt.hour

In [44]:
df_c[(df_c["date"] == datetime.date(2013, 4, 3))]

,Trade_Id,Date,User_Id,User,User_Id_Hash,Japan,Type,Currency,Bitcoins,Money,...,Money_Fee,Money_Fee_Rate,Money_Fee_JPY,Bitcoin_Fee,Bitcoin_Fee_JPY,User_Country,User_State,datetime,date,hour
17986,1364947319559004,2013-04-03 00:01:59,111568,4cb50cf3-44bc-42a2-a30d-3a67eefdfce6,1787aa57bc37b3fc92a3453f88619e8f,NJP,sell,USD,1.795200,210.86495,...,0.42173,93.294,39.345,0.000000,0.000,US,NaN,2013-04-03 00:01:59,2013-04-03,0
17992,1364947412414735,2013-04-03 00:03:32,175019,2ac0255d-60ec-45a5-8703-ed5c5a996657,f26483a78440bc77a3a1ac3eb55d2b92,NJP,buy,USD,3.000000,352.08000,...,0.00000,93.294,0.000,0.007200,72.907,US,NaN,2013-04-03 00:03:32,2013-04-03,0
17993,1364947421585165,2013-04-03 00:03:41,34382,92a8bf40-79c1-44ea-ac45-f3542119fb99,8e67533507f3abdbf9a0384b80e4e0aa,NJP,sell,USD,0.096000,11.26546,...,0.02704,93.294,2.522,0.000000,0.000,US,NaN,2013-04-03 00:03:41,2013-04-03,0
17994,1364947422527156,2013-04-03 00:03:42,267261,12361634-b531-4b70-bd25-6ba9cca5ea1d,5709169f0f165c15b8344885f7241f9d,NJP,buy,USD,0.247503,29.07185,...,0.00000,93.294,0.000,0.000594,6.015,NaN,NaN,2013-04-03 00:03:42,2013-04-03,0
17996,1364947433036567,2013-04-03 00:03:53,267261,12361634-b531-4b70-bd25-6ba9cca5ea1d,5709169f0f165c15b8344885f7241f9d,NJP,buy,USD,0.157593,18.51097,...,0.00000,93.294,0.000,0.000378,3.830,NaN,NaN,2013-04-03 00:03:53,2013-04-03,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30452,1365033441893020,2013-04-03 23:57:23,189712,c0b94940-3b67-4c1e-82a9-3c7d937a3ed7,ef4c6bdd35ca8d31ed7dec97ea94f00c,NJP,sell,USD,0.015173,2.05356,...,0.00493,93.294,0.460,0.000000,0.000,US,NaN,2013-04-03 23:57:23,2013-04-03,23
30454,1365033443880646,2013-04-03 23:57:26,189712,c0b94940-3b67-4c1e-82a9-3c7d937a3ed7,ef4c6bdd35ca8d31ed7dec97ea94f00c,NJP,sell,USD,1.003827,135.51660,...,0.32524,93.294,30.343,0.000000,0.000,US,NaN,2013-04-03 23:57:26,2013-04-03,23
30465,1365033534202770,2013-04-03 23:58:54,116312,35e1e8f9-c12a-4373-a6a2-e9decfd2285a,4ee635bf30bdafc6b9ed596d825e05f0,NJP,buy,USD,0.460614,62.32412,...,0.00000,93.294,0.000,0.001105,11.194,US,NaN,2013-04-03 23:58:54,2013-04-03,23
30466,1365033535726640,2013-04-03 23:58:55,116312,35e1e8f9-c12a-4373-a6a2-e9decfd2285a,4ee635bf30bdafc6b9ed596d825e05f0,NJP,buy,USD,0.539386,73.10898,...,0.00000,93.294,0.000,0.001295,13.108,US,NaN,2013-04-03 23:58:55,2013-04-03,23
30468,1365033535726640,2013-04-03 23:58:55,116312,35e1e8f9-c12a-4373-a6a2-e9decfd2285a,4ee635bf30bdafc6b9ed596d825e05f0,NJP,buy,USD,0.539386,73.10898,...,0.00000,93.294,0.000,0.001295,13.108,US,NaN,2013-04-03 23:58:55,2013-04-03,23

In [6]:
df = pd.read_csv("/home/asevlad/program_files/github_asevlad/Hyperliquid_Wash_Trading_detection/MtGox2014Leak/trades/2013-08_mtgox_japan.csv")
df

,Trade_Id,Date,User_Id,User,User_Id_Hash,Japan,Type,Currency,Bitcoins,Money,Money_Rate,Money_JPY,Money_Fee,Money_Fee_Rate,Money_Fee_JPY,Bitcoin_Fee,Bitcoin_Fee_JPY,User_Country,User_State
0,1375315210237498,2013-08-01 00:00:10,231,0837e260-175b-40a6-9094-00e32899eabf,82efd6b5be9c594f9be6ede6752362b6,NJP,buy,USD,0.012420,1.31934,97.928,129.201,0.00000,97.928,0.000,0.000000,0.000,US,NJ
1,1375315210237498,2013-08-01 00:00:10,527332,299e5dd4-90dd-409f-bce6-8a83f199148b,5e5da955ebd3373e79ddbdfc3b593dae,NJP,sell,USD,0.012420,1.31934,97.928,129.201,0.00317,97.928,0.310,0.000000,0.000,US,CA
2,1375315212461570,2013-08-01 00:00:12,240511,da29acd1-afef-45a6-b455-78191dcbd06e,feed07bbbafdc3cef68f7694c38377c8,NJP,buy,USD,3.299088,350.45184,97.928,34319.201,1.05136,97.928,102.958,0.000000,0.000,GB,!!
3,1375315212461570,2013-08-01 00:00:12,598946,9024904a-ec17-4904-8897-ff3b146ce59d,216037275aad8136543bd6deb94c923e,NJP,sell,USD,3.299088,350.45184,97.928,34319.201,1.26163,97.928,123.549,0.000000,0.000,US,NC
4,1375315212682464,2013-08-01 00:00:12,490089,4db7cce8-80b9-419a-bf74-670a3225cc4f,205f3f63c2aaeb7addc3c4e17413fa05,NJP,buy,USD,0.700912,74.44574,97.928,7290.355,0.00000,97.928,0.000,0.001178,12.276,US,NJ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
420971,1377993555910009,2013-08-31 23:59:15,157789,23111896-622b-470e-312e-36efbdb10401,d5fcd4a22313bb7832ac4b9528263fdb,NJP,sell,USD,1.000000,140.51826,98.232,13803.384,0.84311,98.232,82.820,0.000000,0.000,PL,83
420972,1377993587988519,2013-08-31 23:59:48,231,0837e260-175b-40a6-9094-00e32899eabf,82efd6b5be9c594f9be6ede6752362b6,NJP,buy,USD,5.700000,800.96503,98.232,78680.365,0.00000,98.232,0.000,0.000000,0.000,US,NJ
420973,1377993587988519,2013-08-31 23:59:48,164055,90c7deef-fb0c-4de1-72b5-98ca322e4c80,d0259b40788bbe09757eea30bad3e273,NJP,sell,USD,5.700000,800.96503,98.232,78680.365,4.00483,98.232,393.402,0.000000,0.000,SE,26
420974,1377993597513797,2013-08-31 23:59:57,527332,299e5dd4-90dd-409f-bce6-8a83f199148b,5e5da955ebd3373e79ddbdfc3b593dae,NJP,buy,USD,0.010820,1.52562,98.232,149.865,0.00000,98.232,0.000,0.000026,0.336,US,CA
420975,1377993597513797,2013-08-31 23:59:57,164055,90c7deef-fb0c-4de1-72b5-98ca322e4c80,d0259b40788bbe09757eea30bad3e273,NJP,sell,USD,0.010820,1.52562,98.232,149.865,0.00763,98.232,0.750,0.000000,0.000,SE,26

In [53]:
df[df["Trade_Id"] == 1377875127221631]

,Trade_Id,Date,User_Id,User,User_Id_Hash,Japan,Type,Currency,Bitcoins,Money,Money_Rate,Money_JPY,Money_Fee,Money_Fee_Rate,Money_Fee_JPY,Bitcoin_Fee,Bitcoin_Fee_JPY,User_Country,User_State
382098,1377875127221631,2013-08-30 15:05:27,698630,b2853e3c-3ec0-4fa5-8231-d21e2fd13330,83a621e6e50d018fdb868567cbcf6cde,JP,buy,USD,0.000266,13.12797,98.251,1289.838,0.00000,98.251,0.000,0.0,0.0,JP,40
382099,1377875127221631,2013-08-30 15:05:27,420109,407576a7-d4f1-4746-85f5-cb6ab85229b3,e05d0ab6d06360a7876259c2292a8b72,NJP,sell,USD,0.000266,13.12797,98.251,1289.838,0.00021,98.251,0.021,0.0,0.0,US,PA

In [52]:
df[df["Trade_Id"] == 1377875127221631].values

array([[1377875127221631, '2013-08-30 15:05:27', '698630',
        'b2853e3c-3ec0-4fa5-8231-d21e2fd13330',
        '83a621e6e50d018fdb868567cbcf6cde', 'JP', 'buy', 'USD',
        0.00026608, 13.12797, 98.251, 1289.838, 0.0, 98.251, 0.0, 0.0,
        0.0, 'JP', '40'],
       [1377875127221631, '2013-08-30 15:05:27', '420109',
        '407576a7-d4f1-4746-85f5-cb6ab85229b3',
        'e05d0ab6d06360a7876259c2292a8b72', 'NJP', 'sell', 'USD',
        0.00026608, 13.12797, 98.251, 1289.838, 0.00021, 98.251, 0.021,
        0.0, 0.0, 'US', 'PA']], dtype=object)

In [54]:
13.12797/0.00026608

49338.432050511125

In [5]:
df.columns

Index(['Trade_Id', 'Date', 'User_Id', 'User', 'User_Id_Hash', 'Japan', 'Type',
       'Currency', 'Bitcoins', 'Money', 'Money_Rate', 'Money_JPY', 'Money_Fee',
       'Money_Fee_Rate', 'Money_Fee_JPY', 'Bitcoin_Fee', 'Bitcoin_Fee_JPY',
       'User_Country', 'User_State'],
      dtype='object')

In [7]:
df.columns

Index(['Trade_Id', 'Date', 'User_Id', 'User', 'User_Id_Hash', 'Japan', 'Type',
       'Currency', 'Bitcoins', 'Money', 'Money_Rate', 'Money_JPY', 'Money_Fee',
       'Money_Fee_Rate', 'Money_Fee_JPY', 'Bitcoin_Fee', 'Bitcoin_Fee_JPY',
       'User_Country', 'User_State'],
      dtype='object')

In [11]:
df_paths = [
    "/home/asevlad/program_files/github_asevlad/Hyperliquid_Wash_Trading_detection/MtGox2014Leak/trades/2013-04/2013-04_coinlab.csv",
    "/home/asevlad/program_files/github_asevlad/Hyperliquid_Wash_Trading_detection/MtGox2014Leak/trades/2013-04/2013-04_mtgox_japan.csv",
    "/home/asevlad/program_files/github_asevlad/Hyperliquid_Wash_Trading_detection/MtGox2014Leak/trades/2013-04_coinlab.csv",
    "/home/asevlad/program_files/github_asevlad/Hyperliquid_Wash_Trading_detection/MtGox2014Leak/trades/2013-04_mtgox_japan.csv",
    "/home/asevlad/program_files/github_asevlad/Hyperliquid_Wash_Trading_detection/MtGox2014Leak/trades/2013-05_coinlab.csv",
    "/home/asevlad/program_files/github_asevlad/Hyperliquid_Wash_Trading_detection/MtGox2014Leak/trades/2013-05_mtgox_japan.csv",
    "/home/asevlad/program_files/github_asevlad/Hyperliquid_Wash_Trading_detection/MtGox2014Leak/trades/2013-06_coinlab.csv",
    "/home/asevlad/program_files/github_asevlad/Hyperliquid_Wash_Trading_detection/MtGox2014Leak/trades/2013-06_mtgox_japan.csv",
    "/home/asevlad/program_files/github_asevlad/Hyperliquid_Wash_Trading_detection/MtGox2014Leak/trades/2013-07_coinlab.csv",
    "/home/asevlad/program_files/github_asevlad/Hyperliquid_Wash_Trading_detection/MtGox2014Leak/trades/2013-07_mtgox_japan.csv",
    "/home/asevlad/program_files/github_asevlad/Hyperliquid_Wash_Trading_detection/MtGox2014Leak/trades/2013-08_coinlab.csv",
    "/home/asevlad/program_files/github_asevlad/Hyperliquid_Wash_Trading_detection/MtGox2014Leak/trades/2013-08_mtgox_japan.csv",
    "/home/asevlad/program_files/github_asevlad/Hyperliquid_Wash_Trading_detection/MtGox2014Leak/trades/2013-09_coinlab.csv",
    "/home/asevlad/program_files/github_asevlad/Hyperliquid_Wash_Trading_detection/MtGox2014Leak/trades/2013-09_mtgox_japan.csv"
]

In [12]:
records = []
for path in df_paths:
    records.append(pd.read_csv(path))

df = pd.concat(records)

In [13]:
df["User_State"].value_counts().head(50)

User_State
!!    1465148
NJ     794993
CA     439370
HK     374542
NY     199001
02     172308
07     158665
22     115247
TX     104444
BC      70599
FL      66222
04      62445
MA      62393
30      62309
01      57557
40      56226
ON      55686
IL      50793
GA      48771
WA      48699
NC      43135
CO      43100
H3      41913
26      41085
00      40773
VA      40417
OH      40276
13      39407
78      39194
16      38965
05      37520
PA      36544
08      35927
09      30327
OR      29986
06      29787
23      29601
MI      29257
MD      27660
12      25457
AB      25028
RI      24378
11      24326
UT      22233
WI      20188
29      19780
15      17928
A8      17710
QC      17289
03      17020
Name: count, dtype: int64

In [14]:
df[df["User_State"].isna()]["User_Id"].value_counts()

User_Id
THK       99726
115248    88292
15379     82865
231       65798
289404    28671
          ...
622366        1
517018        1
638982        1
488533        1
645349        1
Name: count, Length: 38644, dtype: int64

In [15]:
df["price"] = df["Bitcoins"] / df["Money"]

In [22]:
df[(df["price"] > 500) & (df["User_Id"] == "698630")]

,Trade_Id,Date,User_Id,Japan,Type,Currency,Bitcoins,Money,Money_Rate,Money_JPY,Money_Fee,Money_Fee_Rate,Money_Fee_JPY,Bitcoin_Fee,Bitcoin_Fee_JPY,User,User_Id_Hash,User_Country,User_State,price
654044,1365752541153234,2013-04-12 07:42:21,698630,JP,buy,USD,5.000000,0.00083,99.390,0.082,0.0,99.390,0.0,0.0,0.0,b2853e3c-3ec0-4fa5-8231-d21e2fd13330,83a621e6e50d018fdb868567cbcf6cde,JP,40,6024.096386
654046,1365752541377799,2013-04-12 07:42:21,698630,JP,buy,USD,0.500000,0.00083,99.390,0.082,0.0,99.390,0.0,0.0,0.0,b2853e3c-3ec0-4fa5-8231-d21e2fd13330,83a621e6e50d018fdb868567cbcf6cde,JP,40,602.409639
655472,1365753271132272,2013-04-12 07:54:31,698630,JP,buy,USD,184.632312,0.02371,99.390,2.357,0.0,99.390,0.0,0.0,0.0,b2853e3c-3ec0-4fa5-8231-d21e2fd13330,83a621e6e50d018fdb868567cbcf6cde,JP,40,7787.107229
29924,1370165995436638,2013-06-02 09:39:55,698630,JP,buy,USD,50.000000,0.03053,100.315,3.983,0.0,100.315,0.0,0.0,0.0,b2853e3c-3ec0-4fa5-8231-d21e2fd13330,83a621e6e50d018fdb868567cbcf6cde,JP,40,1637.733377
29926,1370165997762878,2013-06-02 09:39:57,698630,JP,buy,USD,20.000000,0.03053,100.315,3.983,0.0,100.315,0.0,0.0,0.0,b2853e3c-3ec0-4fa5-8231-d21e2fd13330,83a621e6e50d018fdb868567cbcf6cde,JP,40,655.093351
531412,1371576295469318,2013-06-18 17:24:55,698630,JP,buy,USD,139.908060,0.00492,94.744,0.466,0.0,94.744,0.0,0.0,0.0,b2853e3c-3ec0-4fa5-8231-d21e2fd13330,83a621e6e50d018fdb868567cbcf6cde,JP,40,28436.597567
531414,1371576298206115,2013-06-18 17:24:58,698630,JP,buy,USD,41.078592,0.00492,94.744,0.466,0.0,94.744,0.0,0.0,0.0,b2853e3c-3ec0-4fa5-8231-d21e2fd13330,83a621e6e50d018fdb868567cbcf6cde,JP,40,8349.307287
531416,1371576309725717,2013-06-18 17:25:09,698630,JP,buy,USD,96.720974,0.00492,94.744,0.466,0.0,94.744,0.0,0.0,0.0,b2853e3c-3ec0-4fa5-8231-d21e2fd13330,83a621e6e50d018fdb868567cbcf6cde,JP,40,19658.734620
531424,1371576327706950,2013-06-18 17:25:27,698630,JP,buy,USD,923.469359,1.08770,94.744,103.053,0.0,94.744,0.0,0.0,0.0,b2853e3c-3ec0-4fa5-8231-d21e2fd13330,83a621e6e50d018fdb868567cbcf6cde,JP,40,849.011087
553652,1375026467733600,2013-07-28 15:47:47,698630,JP,buy,USD,1486.997333,0.98005,98.673,96.704,0.0,98.673,0.0,0.0,0.0,b2853e3c-3ec0-4fa5-8231-d21e2fd13330,83a621e6e50d018fdb868567cbcf6cde,JP,40,1517.266806
561912,1375060214042827,2013-07-29 01:10:14,698630,JP,buy,USD,534.290278,1.06000,98.673,104.593,0.0,98.673,0.0,0.0,0.0,b2853e3c-3ec0-4fa5-8231-d21e2fd13330,83a621e6e50d018fdb868567cbcf6cde,JP,40,504.047432
132462,1376350128645764,2013-08-12 23:28:48,698630,JP,buy,USD,870.838796,1.09028,96.433,105.139,0.0,96.433,0.0,0.0,0.0,b2853e3c-3ec0-4fa5-8231-d21e2fd13330,83a621e6e50d018fdb868567cbcf6cde,JP,40,798.729497
215008,1376881053076309,2013-08-19 02:57:33,698630,JP,buy,USD,1293.745993,1.13003,97.474,110.148,0.0,97.474,0.0,0.0,0.0,b2853e3c-3ec0-4fa5-8231-d21e2fd13330,83a621e6e50d018fdb868567cbcf6cde,JP,40,1144.877563
225300,1376898391189315,2013-08-19 07:46:31,698630,JP,buy,USD,55.709761,0.06434,97.474,6.271,0.0,97.474,0.0,0.0,0.0,b2853e3c-3ec0-4fa5-8231-d21e2fd13330,83a621e6e50d018fdb868567cbcf6cde,JP,40,865.865111
225316,1376898391641225,2013-08-19 07:46:31,698630,JP,buy,USD,93.710000,0.06434,97.474,6.271,0.0,97.474,0.0,0.0,0.0,b2853e3c-3ec0-4fa5-8231-d21e2fd13330,83a621e6e50d018fdb868567cbcf6cde,JP,40,1456.481194
225322,1376898391735842,2013-08-19 07:46:31,698630,JP,buy,USD,41.477385,0.06434,97.474,6.271,0.0,97.474,0.0,0.0,0.0,b2853e3c-3ec0-4fa5-8231-d21e2fd13330,83a621e6e50d018fdb868567cbcf6cde,JP,40,644.659384
231628,1376906246693063,2013-08-19 09:57:26,698630,JP,buy,USD,659.261420,1.20156,97.474,117.121,0.0,97.474,0.0,0.0,0.0,b2853e3c-3ec0-4fa5-8231-d21e2fd13330,83a621e6e50d018fdb868567cbcf6cde,JP,40,548.671244
332990,1377572993686028,2013-08-27 03:09:53,698630,JP,buy,USD,1191.466658,1.27497,98.600,125.713,0.0,98.600,0.0,0.0,0.0,b2853e3c-3ec0-4fa5-8231-d21e2fd13330,83a621e6e50d018fdb868567cbcf6cde,JP,40,934.505642
384112,1377875542228465,2013-08-30 15:12:22,698630,JP,buy,USD,17.019170,0.01066,98.251,1.047,0.0,98.251,0.0,0.0,0.0,b2853e3c-3ec0-4fa5-8231-d21e2fd13330,83a621e6e50d018fdb868567cbcf6cde,JP,40,1596.545028
384120,1377875548308045,2013-08-30 15:12:28,698630,JP,buy,USD,18.895500,0.01066,98.251,1.047,0.0,98.251,0.0,0.0,0.0,b2853e3c-3ec0-4fa5-8231-d21e2fd13330,83a621e6e50d018fdb868567cbcf6cde,JP,40,1772.560976
384134,1377875568697010,2013-08-30 15:12:48,698630,JP,buy,USD,40.000000,0.01066,98.251,1.047,0.0,98.251,0.0,0.0,0.0,b2853e3c-3ec0-4fa5-8231-d21e2fd13330,83a621e6e50d018fdb868567cbcf6cde,JP,40,3752.345216
384138,1377875580938390,2013-08-30 15:13:00,698630,JP,buy,USD,40.000000,0.01066,98.251,1.047,0.0,98.251,0.0,0.0,0.0,b2853e3c-3ec0-4fa5-8231-d21e2fd13330,83a621e6e50d018fdb868567cbcf6cde,JP,40,3752.345216

In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

def plot_wallet_balance(df, wallet_id, start_date_str, n_days=7, shift_days=0):
    """
    Plot accumulated token balance for a wallet over a specific time window.

    Parameters
    ----------
    df : pd.DataFrame
        Must contain columns ['wallet_id', 'time', 'is_ask', 'size'].
    wallet_id : str
        ID of the wallet to plot.
    start_date_str : str
        Start date in string format, e.g. '2025-01-01'.
    n_days : int, default=7
        Number of days forward from start_date to include in the plot.
    shift_days : int, default=0
        Number of days to shift the window forward or backward.
        Positive values move the window forward, negative values backward.
    """

    # Ensure time column is datetime
    df['time'] = pd.to_datetime(df['Date'])

    # Apply window logic
    start_date = pd.to_datetime(start_date_str) + pd.Timedelta(days=shift_days)
    end_date = start_date + pd.Timedelta(days=n_days)

    # Filter for wallet and date range
    mask = (df['User_Id'] == wallet_id) & (df['time'].between(start_date, end_date))
    df_wallet = df.loc[mask].copy()

    if df_wallet.empty:
        print(f"No data found for wallet {wallet_id} between {start_date.date()} and {end_date.date()}.")
        return

    # Sort by time
    df_wallet = df_wallet.sort_values('time')

    # Compute signed trade size
    df_wallet['signed_size'] = np.where(df_wallet['Type'] == "buy", -df_wallet['Bitcoins'], df_wallet['Bitcoins'])

    # Compute accumulated balance
    df_wallet['balance'] = df_wallet['signed_size'].cumsum()

    # Plot
    plt.figure(figsize=(10, 5))
    plt.plot(df_wallet['time'], df_wallet['balance'], marker='o', linewidth=2)
    plt.title(f"Accumulated Token Balance\nWallet: {wallet_id}\n{start_date.date()} → {end_date.date()}")
    plt.xlabel("Time")
    plt.ylabel("Accumulated Balance")
    plt.grid(True, linestyle='--', alpha=0.6)
    plt.tight_layout()
    plt.show()

In [ ]:
plot_wallet_balance(df, wallet_id, start_date_str, n_days=7, shift_days=0)