In [1]:
from src.data_handler import CoinDataStore
from src.simple_wash_detector_utils import detect_wash_trades_nearest

In [2]:
store = CoinDataStore("HYPE", engine="fastparquet")
time_diff_s = 10 * 60 # 10 minutes difference
price_diff_pct = 0.01
size_diff_pct = 0.01

df_detected = detect_wash_trades_nearest(store, time_diff_s, price_diff_pct, size_diff_pct)
df_detected

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127

,wallet_id,day,open_time,close_time,duration_s,open_side,close_side,open_price,close_price,price_change_pct,open_size,close_size,size_change_pct,pairing_direction,open_trade_id,close_trade_id
0,1,2025-03-22,2025-03-22 12:58:54.250,2025-03-22 13:00:09.150,74.90,sell,buy,16.042999,16.077000,0.002119,74.260002,73.669998,0.007945,sell_to_buy,0,0
1,1,2025-03-22,2025-03-22 22:20:02.850,2025-03-22 22:26:30.150,387.30,buy,sell,15.752000,15.698000,0.003428,52.849998,52.389999,0.008704,buy_to_sell,1,1
2,11,2025-03-22,2025-03-22 12:26:28.650,2025-03-22 12:34:20.300,471.65,buy,sell,15.900999,16.049999,0.009370,4.500000,4.540000,0.008889,buy_to_sell,2,2
3,11,2025-03-22,2025-03-22 16:00:39.400,2025-03-22 16:08:37.450,478.05,buy,sell,15.733000,15.700000,0.002098,25.400000,25.430000,0.001181,buy_to_sell,3,3
4,11,2025-03-22,2025-03-22 16:08:37.450,2025-03-22 16:13:58.150,320.70,sell,buy,15.700000,15.683001,0.001083,25.430000,25.420000,0.000393,sell_to_buy,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4008969,186083,2025-07-27,2025-07-27 04:31:19.150,2025-07-27 04:33:08.050,108.90,sell,buy,43.653999,43.667999,0.000321,0.280000,0.280000,0.000000,sell_to_buy,4008969,4008969
4008970,186090,2025-07-27,2025-07-27 04:40:13.100,2025-07-27 04:42:06.900,113.80,buy,sell,43.660000,43.636074,0.000548,36.340000,36.340000,0.000000,buy_to_sell,4008970,4008970
4008971,186090,2025-07-27,2025-07-27 04:45:30.050,2025-07-27 04:50:23.950,293.90,buy,sell,43.650002,43.589054,0.001396,62.549999,62.549999,0.000000,buy_to_sell,4008971,4008971
4008972,186198,2025-07-27,2025-07-27 08:28:23.200,2025-07-27 08:32:32.350,249.15,buy,sell,43.124001,43.112000,0.000278,2.500000,2.500000,0.000000,buy_to_sell,4008972,4008972
4008973,186402,2025-07-27,2025-07-27 06:25:28.600,2025-07-27 06:31:38.450,369.85,sell,buy,43.593525,43.501728,0.002106,225.880005,225.880005,0.000000,sell_to_buy,4008973,4008973

In [5]:
df_detected["open_size"].sum() / 10**6

np.float32(98.07333)

In [7]:
import datetime

store = CoinDataStore("HYPE")

df_day = store.load_all()
df_day

,price,size,time,is_ask,wallet_id
0,16.392000,30.090000,2025-03-22 10:50:22.123535751,True,48
1,16.392000,30.090000,2025-03-22 10:50:22.123535751,False,85
2,16.392000,101.910004,2025-03-22 10:50:22.123535751,True,48
3,16.392000,101.910004,2025-03-22 10:50:22.123535751,False,39
4,16.392000,3.000000,2025-03-22 10:50:22.123535751,True,48
...,...,...,...,...,...
102794809,43.139000,0.500000,2025-07-27 08:45:44.248000000,True,6216
102794810,43.137001,0.870000,2025-07-27 08:45:44.308000000,False,86
102794811,43.137001,0.870000,2025-07-27 08:45:44.308000000,True,186229
102794812,43.145000,0.270000,2025-07-27 08:45:47.062000000,True,48740
102794813,43.145000,0.270000,2025-07-27 08:45:47.062000000,False,48759

In [8]:
df_day["size"].sum() / 10**6

np.float32(3085.571)

In [10]:
100/3085

0.03241491085899514